<a href="https://colab.research.google.com/github/susmitds/Amazon_Market_Data_Analytics/blob/main/1_Data_Cleaning_and_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [2]:
data=pd.read_excel('D:/Workspace/Projects/MarketDataAnalytics/MData.xlsx')

In [3]:
data['Shipping charges']=data['Shipping charges'].fillna(0)
data['Seller Address (City)']=data['Seller Address (City)'].fillna(data['Shipping Address (City)'])
data['Mode of payment']=data['Mode of payment'].fillna('CoD')
data['Gender of Customer']=data['Gender of Customer'].fillna('F')
data['Quantity']=data['Quantity'].fillna(1)
data['Prime membership']=data['Prime membership'].fillna('No')
data['Age']=data['Age'].fillna(random.randint(22,28))

In [4]:
data.drop("Unnamed: 0", axis=1, inplace=True)
data.dropna(inplace = True)

In [5]:
data.head()

,Date,Product Name,Brand,Category of product,Quantity,Unit Price,Shipping charges,Total Amount,Billing Address (City),Seller Address (City),Shipping Address (City),Gender of Customer,Age,Mode of payment,Prime membership
0,28.10.2022,Camlin Kokuyo White Board Marker Ink,Camlin,Stationery,3,31.24,0,105,Bangalore,Bangalore,Bangalore,Male,24,UPI,Yes
1,23.10.2022,Men's Shoes (Black),Adidas,Footwear,1,1211.02,0,1429,Saharsa,Bangalore,Purnia,Male,51,UPI,Yes
2,21.10.2022,Water Bottle,Milton,Utensil,1,702.86,0,738,Bangalore,Delhi,Bangalore,Male,24,UPI,Yes
3,21.10.2022,Conditioner,Head & Shoulders,Body Care,1,127,0,150,Bangalore,Thane,Bangalore,Male,24,UPI,Yes
4,21.10.2022,Suitcase,Kamiliant,Bags,1,1778,0,2099,Purnia,Thane,Purnia,Male,27,UPI,Yes

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4060 entries, 0 to 5346
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     4060 non-null   object
 1   Product Name             4060 non-null   object
 2   Brand                    4060 non-null   object
 3   Category of product      4060 non-null   object
 4   Quantity                 4060 non-null   object
 5   Unit Price               4060 non-null   object
 6   Shipping charges         4060 non-null   object
 7   Total Amount             4060 non-null   object
 8   Billing Address (City)   4060 non-null   object
 9   Seller Address (City)    4060 non-null   object
 10  Shipping Address (City)  4060 non-null   object
 11  Gender of Customer       4060 non-null   object
 12  Age                      4060 non-null   object
 13  Mode of payment          4060 non-null   object
 14  Prime membership         4060 non-null   object
dtypes: object(15)
memory usage: 507.5+ KB

In [7]:
data.columns

Index(['Date', 'Product Name', 'Brand', 'Category of product', 'Quantity',
       'Unit Price', 'Shipping charges', 'Total Amount',
       'Billing Address (City)', 'Seller Address (City)',
       'Shipping Address (City)', 'Gender of Customer', 'Age',
       'Mode of payment', 'Prime membership'],
      dtype='object')

In [8]:
data.columns=['Date', 'Product', 'Brand', 'Category', 'Quantity', 'Unit Price', 'Shipping Charges', 'Total Price',
       'Billing Address', 'Seller Address', 'Shipping Address','Gender', 'Age', 'Mode', 'Prime']

In [9]:
numericals=['Quantity','Unit Price', 'Shipping Charges', 'Total Price', 'Age']
data[numericals]=data[numericals].apply(pd.to_numeric, errors='coerce')
data.dropna(inplace = True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2997 entries, 0 to 5311
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2997 non-null   object
 1   Product           2997 non-null   object
 2   Brand             2997 non-null   object
 3   Category          2997 non-null   object
 4   Quantity          2997 non-null   float64
 5   Unit Price        2997 non-null   float64
 6   Shipping Charges  2997 non-null   float64
 7   Total Price       2997 non-null   float64
 8   Billing Address   2997 non-null   object
 9   Seller Address    2997 non-null   object
 10  Shipping Address  2997 non-null   object
 11  Gender            2997 non-null   object
 12  Age               2997 non-null   float64
 13  Mode              2997 non-null   object
 14  Prime             2997 non-null   object
dtypes: float64(5), object(10)
memory usage: 374.6+ KB

In [11]:
data['Gender'].unique()

array(['Male', 'Female', 'male', 'Female ', 'F ', 'Male\xa0'],
      dtype=object)

In [12]:
data['Gender']=data['Gender'].apply(lambda x: 'M' if x in ['Male', 'Male\xa0'] else 'F')

In [13]:
data['Category'].unique()

array(['Stationery', 'Footwear', 'Utensil', 'Body Care', 'Bags',
       'Bodycare', 'Sports', 'Accessory', 'Electronics', 'Plant',
       'Smartphone', 'Exercise', 'Apparel', 'Book', 'Fashion',
       'Self Care', 'Cookware', 'Edible', 'Gift', 'Colour', 'Haircare',
       'Hygiene', 'Home Accessories', 'Furniture', 'Safety gear', 'Books',
       'Smart speaker', 'Home improvement', 'Shampoo and Conditioners',
       'Beauty', 'Gardening Handscape', 'Jewellery', 'Watches',
       'PC gaming', 'Personal Hygiene', 'Helmets', 'Laptop accessories',
       "Men's Wallets, Card Cases & Money Organisers", 'Clothing',
       'Organisers', 'personal Hygiene', 'Backpacks',
       'Mobile accessories', 'Healthcare', 'electricals',
       'Kitchen and Home', 'kitchen and Home', 'Travel',
       'Household supplies', 'household supplies', 'Sporting',
       'Latop Accesories', 'Baggage', 'medical', 'Bike accessories',
       'Camera accessories', 'Computer Accessories',
       'computer Accessories', 'bagpacks', 'CAMera accessories',
       'Home Decor', 'electronics', 'Stationary', 'clothing',
       'clothing accessories', 'electronic accessories',
       'electronics accessories', 'healthcare', 'home', 'Eyewear',
       'Accessories', 'Bottle', 'Food', 'Mobile', 'Supplement',
       'Pet Supplies', 'Home Appliances', 'Health and Personal Care',
       'Car and MotorBike', 'Sports, Fitness and Outdoors',
       'Home and Kitchen', 'Toys and Games', 'Shoes and Handbags',
       'Bags, Wallets and Luggage', 'Software',
       'Computer and Accessories', 'Industrial and Scientific',
       'Grocery and Gourmet Foods', 'Outdoor Living', 'Shoes and Bags',
       'Home Improvement', 'Clothing and Accessories',
       'Car and Motorbike', 'Utencil', 'Decoration', 'Makeup', 'Utencils',
       'Beauty ', 'book', 'safety', 'smartphone', 'apparrel', 'footwear',
       'stationary', 'food', 'home esentials', 'home essentials', 'bags',
       'hygiene', 'beauty', 'accessory', 'sports', 'self care',
       'phone cover', 'fashion', 'Safety', 'Education', 'Cosmetic',
       'Safety ', 'Child', 'Audio ', 'Textile', 'Electronic',
       'Home Appliance', 'Health Care', 'Utilities', 'Medical', 'Sport',
       'Gifts', 'Storage', 'Games', 'Utility', 'Toy', 'Lifestyle', 'toy',
       'Equipment', 'Fitness', 'Kitchen Appliances', 'Bedding',
       'Body care', 'Grocery', 'Food ', 'Clothing and Accessories ',
       'Sports, Fitness and Outdoor', 'Office Supplies', 'Toys and games',
       'Luggage and Bags ', 'Grocery and Gourmet', 'Office Products',
       'Amazon Devices', 'Musical Instruments', 'Amazon Fashion',
       'Tools and Home Impovement', 'Clothing Accessories', 'Fashion ',
       'Kitchen', 'Money ', 'Stationary ', 'Gymnasium ', 'BodyCare',
       'body care', 'book ', 'fashion ', 'Eletronics', 'Recharge',
       'Recharge ', 'Book ', 'Home Appliances ', 'Music', 'Personal Care',
       'Giftcard', 'Kitchen ', 'Personal ', 'Cosmetics', 'Supplements',
       'Musical Instrument', 'Electrical Appliance', 'Hair Care',
       'Sports accessories', 'Groceries', 'Travel accessories',
       'Home and Décor', 'Electronics accessories', 'Electroics',
       'Kitchen items and appliances', 'Health and Wellbeing',
       'Beauty and Body Care', 'Automobile accessories', 'Toys',
       'Fashion and Clothing', ' Electronics accessories',
       'Pet accessories', 'Belt', 'kitchen appliance', 'Electrical',
       'stationery', 'Entertainment', 'personal care', 'supplement',
       'animal food', 'electrical', 'toys', 'apparel', 'home appliance',
       'foot wear', 'home appliances', 'Household', 'Pet Food', 'Foods',
       'Instrument', 'Eletrical', 'Cutlery', 'Utensils', 'Kitchenware',
       'Jewelry', 'FootWear', 'Personal care', 'Medicine', 'LifeStyle',
       'Dog Food', 'Cycle', 'Clothes', 'Home accessories',
       'Car Accessories', 'Electrical Equipment', 'Gym Equipment',
       'Kitchen Equipment', 'Health & Personal Care', 'Luggage & Bags',
       'books', 'Personnel Care'], dtype=object)

In [14]:
data['Category']=data['Category'].apply(lambda x: 'Electronics' if x in ['Electronics', 'Eletronics', 'phone cover', 'Music', ' Electronics accessories', 'electronics', 'Electronic', 'Smartphone', 'Smart speaker', 'smartphone', 'Computer and Accessories', 'PC gaming', 'Electroics', 'Mobile accessories', 'Electronics accessories', 'Amazon Devices', 'electronic accessories', 'electronics accessories', 'Laptop accessories', 'Latop Accesories', 'Bike accessories', 'Camera accessories', 'Computer Accessories', 'Mobile', 'Audio ', 'computer Accessories', 'CAMera accessories'] else x)

In [15]:
data['Category']=data['Category'].apply(lambda x: 'Clothing and Fashion' if x in ['apparrel', 'footwear', 'Beauty ', 'fashion ', 'Beauty', 'Helmets', 'apparel', 'Jewellery', 'Clothing and Fashion', 'Shoes and Bags', 'Textile', 'Shoes and Handbags', 'Belt',  'Watches', 'fashion', 'Belt', 'Footwear', 'Eyewear', 'Apparel', 'Shoes and Bags', 'Fashion', 'clothing', 'clothing accessories', 'Clothing', 'Clothing and Accessories', 'Clothing and Accessories ',  'foot wear', 'Amazon Fashion', 'Clothing Accessories', 'Fashion ', 'Fashion and Clothing', 'Clothes', 'Jewelry', 'FootWear'] else x)

In [16]:
data['Category']=data['Category'].apply(lambda x: 'Eletrical Equipment' if x in ['Electrical Equipment', 'electrical', 'Eletrical', 'Electrical Appliance', 'electricals',  'Electrical', ] else x)

In [17]:
data['Category']=data['Category'].apply(lambda x: 'Stationeries' if x in ['Office Supplies', 'Books', 'Colour', 'stationary', 'Education', 'Book ', 'Book', 'stationery', 'Bags, Wallets and Luggage',  'book ', 'Office Products', 'Luggage and Bags ', 'bags', "Men's Wallets, Card Cases & Money Organisers", 'Stationeries', 'Luggage & Bags', 'Stationaries', 'Stationery', 'Bags', 'Backpacks', 'Organisers', 'Baggage', 'bagpacks', 'Stationary', 'Bottle', 'book','Industrial and Scientific', 'Toy', 'Gifts', 'Utility', 'Stationary ', 'Toys', 'books'] else x)

In [18]:
data['Category']=data['Category'].apply(lambda x: 'Sports and Fitness' if x in ['Fitness', 'Sports accessories', 'Gymnasium ', 'Lifestyle', 'Outdoor Living', 'Exercise', 'Sports',  'Gym Equipment', 'Sporting', 'Sports, Fitness and Outdoors', 'sports', 'Sports, Fitness and Outdoor', 'Sport', 'Cycle'] else x)

In [19]:
data['Category']=data['Category'].apply(lambda x: 'Personal Hygiene' if x in ['Cosmetic', 'Supplement', 'self care', 'medical', 'Hygiene', 'Supplements', 'Health and Wellbeing', 'Healthcare', 'healthcare', 'Health and Personal Care', 'Medical', 'supplement', 'Medicine', 'beauty', 'LifeStyle', 'Self Care', 'Personal Care', 'Hair Care', 'body care', 'Health & Personal Care', 'BodyCare', 'Personal ', 'Makeup', 'Personal care', 'personal care', 'Personnel Care', 'Personal Hygiene', 'Body Care', 'Bodycare', 'Haircare', 'personal Hygiene', 'Shampoo and Conditioners', 'Body care', 'Cosmetics', 'Beauty and Body Care', 'Personal', 'hygiene', 'Beauty and Body Care', 'Health Care'] else x)

In [20]:
data['Category']=data['Category'].apply(lambda x: 'Home and Decor' if x in ['Home and Decor', 'Home Accessories' , 'Furniture' , 'Home improvement' , 'Gardening Handscape' , 'Kitchen and Home' , 'kitchen and Home' , 'Household supplies', 'household supplies' , 'Home Decor' , 'home' , 'Bottle' , 'Home Appliances' , 'Home and Kitchen' , 'Home Improvement' ,  'Decoration' , 'home esentials' , 'home essentials' , 'Home Appliance' ,  'Storage' , 'Equipment' , 'Tools and Home Impovement' ,  'Home Appliances ' , 'Home and Décor' , 'home appliances' , 'home appliance' , 'Household' ,  'Instrument' , 'Home accessories'] else x)

In [21]:
data['Category']=data['Category'].apply(lambda x: 'Cookware' if x in ['Cookware', 'Utensil','Cookware','Kitchen and Home','kitchen and Home','Utencil','Utencils','Kitchen Appliances','Kitchen','Kitchen Equipment','Kitchenware','Utensils','kitchen appliance', 'Cutlery', 'Kitchen items and appliances', 'Kitchen ','Kitchen','Home and Kitchen','Cutler', 'Utencils'] else x)

In [22]:
data['Category']=data['Category'].apply(lambda x: 'Food' if x in ['Edible' , 'Food' , 'Grocery and Gourmet Foods' ,  'food' , 'Food ' , 'Grocery and Gourmet' , 'Groceries', 'Foods'] else x)

In [23]:
data['Category']=data['Category'].apply(lambda x: 'Others' if x in ['Accessory', 'Plant', 'Gift', 'Safety gear', 'Travel', 'Accessories', 'Pet Supplies', 'Car and MotorBike','Toys and Games', 'Software', 'Car and Motorbike', 'safety', 'accessory', 'Safety', 'Safety ', 'Child', 'Utilities', 'Games','toy', 'Bedding', 'Grocery', 'Toys and games', 'Musical Instruments', 'Money ', 'Recharge', 'Recharge ','Giftcard', 'Musical Instrument', 'Travel accessories','Automobile accessories', 'Pet accessories', 'Entertainment','animal food', 'toys', 'Pet Food', 'Dog Food', 'Car Accessories'] else x)

In [24]:
data['Billing Address']=data['Billing Address'].apply(lambda x: np.NaN if type(x)!=str else x.lower())

In [25]:
data['Seller Address']=data['Billing Address'].apply(lambda x: np.NaN if type(x)!=str else x.lower())

In [26]:
data['Shipping Address']=data['Billing Address'].apply(lambda x: np.NaN if type(x)!=str else x.lower())

In [27]:
data.dropna(inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2769 entries, 0 to 5311
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2769 non-null   object
 1   Product           2769 non-null   object
 2   Brand             2769 non-null   object
 3   Category          2769 non-null   object
 4   Quantity          2769 non-null   float64
 5   Unit Price        2769 non-null   float64
 6   Shipping Charges  2769 non-null   float64
 7   Total Price       2769 non-null   float64
 8   Billing Address   2769 non-null   object
 9   Seller Address    2769 non-null   object
 10  Shipping Address  2769 non-null   object
 11  Gender            2769 non-null   object
 12  Age               2769 non-null   float64
 13  Mode              2769 non-null   object
 14  Prime             2769 non-null   object
dtypes: float64(5), object(10)
memory usage: 346.1+ KB

In [28]:
data['Shipping Address'].unique()

array(['bangalore', 'saharsa', 'purnia', 'jabalpur', 'bikaner', 'anand',
       'varanasi', 'anjar', 'banswara', 'neyveli', 'noida', 'mangalore',
       'chennai', 'navi mumbai', 'tirpur', 'new\xa0delhi', 'bangolore',
       'purnea', 'kota', 'gaya', 'indore', 'khargone', 'banagalore',
       'mandsaur', 'bhubaneshwar', 'raipur', 'kharagpur', 'balaghat',
       'paradip', 'pune', 'madras', 'nagpur', 'tarapur', 'solapur',
       'kanpur', 'mumbai', 'unnao', 'nashik', 'parbhani', 'barshi',
       'latur', 'daund', 'mouda', 'jalgaon,maharashtra', 'new delhi',
       'banglore', 'prayagraj', 'kolaghat', 'sirsaganj', 'gorakhpur',
       'hamirpur', 'charkhari', 'pratapgarh', 'singur', 'mainpuri',
       'ghaziabad', 'kochi, kerala', 'nellore, andhra pradesh',
       'hyderabad', 'delhi', 'ajmer, rajasthan', 'kolkata', 'gonda, up',
       'punganur', 'bengaluru ', 'bengaluru', 'guwahati', 'kadapa',
       'srikalahasti', 'chittoor', 'kadiri', 'rayachoti', 'tirupati',
       'nidamarru', 'anantapur', 'gwalior', 'satna', 'bhopal', 'ranchi',
       'hydrabad', 'chennai ', ' bengaluru karnataka 560012 india',
       '    pune pune maharashtra 411041 india', 'assam', 'mahagma',
       'bokaro', 'asansol', 'greater noida', 'bhilai', 'ambikapur',
       'bastar', 'singrauli', 'siliguri', 'dhanbad', 'telangana',
       'hajipur', 'munger', 'patna', 'jharsuguda', 'howrah', 'ahemdabad',
       'ranhi', 'gurgaon', 'panipat', 'jamshedpur', 'katihar',
       'baloda bazar\xa0', 'port blair', 'bahraich', 'jogabani',
       'aurangabad', 'lucknow, ', 'lucknow', 'khammam', 'palwancha',
       'kothagudem', 'karimnagar', 'rajahmundry', 'vijayawada',
       'mangaluru', 'vicarabad', 'mahoor', 'waghala', 'dichpalle',
       'nalgonda', 'secunderabad', 'giridih', 'undrajavaram', 'rict',
       'district', 'bhadreswar', 'garulia', 'durllabhganj', 'durgapur',
       'berhampore', 'pathanamthitta', 'halisahar', 'bankura', 'dewas',
       'jamnagar', 'firozabad', 'jodhpur', 'gonda', 'jhansi',
       'shahjahanpur', 'sultanpur', 'rudrapur', 'panihati', 'trivandrum',
       'noida ', 'jaipur', 'ahmedabad', 'gurugram', 'dehradun', 'dimapur',
       'balod',
       'tharun pranav plot no.d12 mvm nagar dindigul, mvm nagar dindigul dindigul, tamil nadu, 624001 in',
       'visakhapatnam'], dtype=object)

In [29]:
data['City Tiers (Customer)']=data['Shipping Address'].apply(lambda x: 1 if x in ['bangalore', 'chennai', 'navi mumbai', 'new\xa0delhi', 'bangolore', 'banagalore', 'madras', 'mumbai', 'new delhi','banglore', 'hyderabad', 'delhi',  'kolkata', 'bengaluru ', 'bengaluru', 'hydrabad', 'chennai ', ' bengaluru karnataka 560012 india'] else (2 if x in ['varanasi', 'noida', 'mangalore', 'indore','bhubaneshwar', 'raipur', 'kharagpur', 'pune', 'nagpur','kanpur', 'ghaziabad', 'kochi, kerala', 'ajmer, rajasthan', 'guwahati', 'gwalior', 'bhopal', 'ranchi','    pune pune maharashtra 411041 india', 'assam', 'greater noida', 'bhilai', 'siliguri', 'dhanbad', 'patna', 'howrah', 'ahemdabad','ranhi', 'gurgaon', 'jamshedpur', 'port blair', 'aurangabad', 'lucknow, ', 'lucknow', 'rajahmundry', 'vijayawada','mangaluru', 'secunderabad',  'durgapur', 'firozabad', 'jodhpur', 'jhansi', 'trivandrum', 'noida ', 'jaipur', 'ahmedabad', 'gurugram', 'dehradun', 'visakhapatnam'] else 3))

In [30]:
data['City Tiers (Seller)']=data['Seller Address'].apply(lambda x: 1 if x in ['bangalore', 'chennai', 'navi mumbai', 'new\xa0delhi', 'bangolore', 'banagalore', 'madras', 'mumbai', 'new delhi','banglore', 'hyderabad', 'delhi',  'kolkata', 'bengaluru ', 'bengaluru', 'hydrabad', 'chennai ', ' bengaluru karnataka 560012 india'] else (2 if x in ['varanasi', 'noida', 'mangalore', 'indore','bhubaneshwar', 'raipur', 'kharagpur', 'pune', 'nagpur','kanpur', 'ghaziabad', 'kochi, kerala', 'ajmer, rajasthan', 'guwahati', 'gwalior', 'bhopal', 'ranchi','    pune pune maharashtra 411041 india', 'assam', 'greater noida', 'bhilai', 'siliguri', 'dhanbad', 'patna', 'howrah', 'ahemdabad','ranhi', 'gurgaon', 'jamshedpur', 'port blair', 'aurangabad', 'lucknow, ', 'lucknow', 'rajahmundry', 'vijayawada','mangaluru', 'secunderabad',  'durgapur', 'firozabad', 'jodhpur', 'jhansi', 'trivandrum', 'noida ', 'jaipur', 'ahmedabad', 'gurugram', 'dehradun', 'visakhapatnam'] else 3))

In [31]:
data['Prime'].unique()

array(['Yes', 'No', 'yes', 'no', 'N0', 'NO', 'Yes ', 'YES', 'Y', 'N'],
      dtype=object)

In [32]:
data['Prime']=data['Prime'].apply(lambda x: 'Yes' if x in ['Yes', 'yes', 'Yes ', 'YES', 'Y'] else 'No')

In [33]:
data['Mode'].unique()

array(['UPI', 'Credit Card', 'Debit Card', 'Cash', 'Giftcard', 'upi',
       'credit card', 'cash', '.', 'Netbanking', 'DEbit Card',
       'debit card', 'Debit card', 'giftcard', 'Upi', 'Debit', 'COD',
       'Gift Certificate.Card', 'Gift Certificate.Card and RuPay . 6770',
       'MasterCard . 2043', 'RuPay . 6770', 'CoD', 'MasterCard . 2513',
       'Gift Card.Credit\nCard', 'AmazonPay', 'paybalance', 'cod',
       'pay later', 'Online', 'Amazon Pay Later', 'UPI ', 'RuPay . 2032',
       'MasterCard . 2825', 'Gift Certificate.Card and RuPay . 2032',
       'Gift Certificate.Card and MasterCard . 1238', 'MasterCard . 6523',
       'Gift Certificate.Card and Visa . 9069',
       'Gift Certificate.Card and MasterCard . 9824', 'MasterCard . 9824',
       'Gift Certificate.Card and Visa . 4745', 'MasterCard . 1238',
       'Visa . 7538', 'Visa . 4745',
       'Gift Certificate.Card and Visa . 7538', 'Gift Card',
       'Replacement', 'Card Payment', 'Amazon Credit', 'Credit card',
       'gift card', 'AmazonCredit', 'GiftCard', 'Debit Debit Card',
       'Card', 'Gift card'], dtype=object)

In [34]:
data['Mode']=data['Mode'].apply(lambda x: 'UPI' if x in ['UPI', 'upi', 'Upi', 'AmazonPay', 'paybalance', 'pay later', 'Online', 'Amazon Pay Later', 'UPI ', 'Amazon Credit', 'AmazonCredit'] else x)

In [35]:
data['Mode']=data['Mode'].apply(lambda x: 'Credit Card' if x in ['Credit Card', 'Gift Card.Credit\nCard', 'credit card', 'cash', 'Visa . 7538', 'Visa . 4745', 'Card Payment', 'Credit card'] else x)

In [36]:
data['Mode']=data['Mode'].apply(lambda x: 'Debit Card' if x in ['Debit Card', 'Netbanking', 'DEbit Card', 'debit card', 'Debit card', 'Debit', 'MasterCard . 2043', 'MasterCard . 2513', 'MasterCard . 2825', 'MasterCard . 6523', 'MasterCard . 9824', 'MasterCard . 1238', 'Debit Debit Card', 'Card'] else x)

In [37]:
data['Mode']=data['Mode'].apply(lambda x: 'Cash' if x in ['Cash', '.', 'COD', 'CoD', 'cod'] else x)

In [38]:
data['Mode']=data['Mode'].apply(lambda x: 'Gift Card' if x not in ['UPI', 'Credit Card', 'Debit Card', 'Cash'] else x)

In [39]:
data['Dtemp1'] =  pd.to_datetime(data['Date'], errors='coerce', format='%m.%d.%Y')
data['Dtemp2'] =  pd.to_datetime(data['Date'], errors='coerce', format='%d.%m.%Y')
data['Date']=data['Dtemp1'].fillna(data['Dtemp2'])
data.drop(['Dtemp1','Dtemp2'], axis=1, inplace=True)

In [40]:
data['Weekday'] = data['Date'].dt.dayofweek
data['Month'] = data['Date'].dt.month
data['Weekday'] = data['Weekday'].replace({0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'})
data['Month'] = data['Month'].replace({1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'})

In [41]:
data['Age']=data['Age'].astype('int')

In [42]:
data.head(20)

,Date,Product,Brand,Category,Quantity,Unit Price,Shipping Charges,Total Price,Billing Address,Seller Address,Shipping Address,Gender,Age,Mode,Prime,City Tiers (Customer),City Tiers (Seller),Weekday,Month
0,2022-10-28,Camlin Kokuyo White Board Marker Ink,Camlin,Stationeries,3.0,31.24,0.0,105.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Friday,October
1,2022-10-23,Men's Shoes (Black),Adidas,Clothing and Fashion,1.0,1211.02,0.0,1429.0,saharsa,saharsa,saharsa,M,51,UPI,Yes,3,3,Sunday,October
2,2022-10-21,Water Bottle,Milton,Cookware,1.0,702.86,0.0,738.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Friday,October
3,2022-10-21,Conditioner,Head & Shoulders,Personal Hygiene,1.0,127.00,0.0,150.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Friday,October
4,2022-10-21,Suitcase,Kamiliant,Stationeries,1.0,1778.00,0.0,2099.0,purnia,purnia,purnia,M,27,UPI,Yes,3,3,Friday,October
5,2022-10-21,Handwash,Savlon,Personal Hygiene,1.0,148.00,0.0,175.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Friday,October
6,2022-08-20,Racquet,Yonex,Sports and Fitness,1.0,847.00,0.0,949.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Saturday,August
7,2022-08-20,Accessory Cock,Yonex,Sports and Fitness,1.0,356.00,0.0,399.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Saturday,August
8,2022-08-16,Razor,Gillette,Personal Hygiene,1.0,201.00,0.0,218.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Tuesday,August
9,2022-03-08,Umbrella,Fendo,Others,1.0,279.00,0.0,313.0,bangalore,bangalore,bangalore,M,24,UPI,Yes,1,1,Tuesday,March
10,2022-10-28,Charger,Speedster,Electronics,1.0,550.00,0.0,649.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Friday,October
11,2022-10-20,Tempered Glass,Double Dice,Electronics,1.0,126.00,0.0,149.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Thursday,October
12,2022-10-18,Candles,Solimo,Others,1.0,400.00,0.0,309.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Tuesday,October
13,2022-09-10,Palm Tree,Creative Farmer,Others,1.0,99.00,0.0,99.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Saturday,September
14,2022-01-10,Redmi 10A,Xiaomi,Electronics,1.0,7287.00,0.0,7774.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Monday,January
15,2022-09-28,Dialpad,Boat,Electronics,1.0,2541.00,0.0,2999.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Wednesday,September
16,2022-09-27,Galaxy M13,Samsung,Electronics,1.0,8050.00,0.0,9499.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Tuesday,September
17,2022-09-26,Hand Gripper,Aurion,Sports and Fitness,1.0,126.00,0.0,149.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Monday,September
18,2022-09-22,Mouse,Redgear,Electronics,1.0,380.00,0.0,299.0,bangalore,bangalore,bangalore,M,22,UPI,Yes,1,1,Thursday,September
19,2022-02-09,Washing Machine,Whirlpool,Electronics,1.0,12703.00,0.0,14990.0,bangalore,bangalore,bangalore,M,22,Credit Card,Yes,1,1,Wednesday,February

In [43]:
data.reset_index(drop=True, inplace=True)
data.to_csv('D:/Workspace/Projects/MarketDataAnalytics/clean.csv')